.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
.env
.httr-oauth
inst/doc
models/
docs/obsidian_files/
tests/testthat/*.pdf
inst/examples/Ecotone_Results_Landscape/Figs/plot_acc_worst_class.jpg
inst/examples/Ecotone_Results_Landscape/Figs/plot_mean_accuracy.jpg
inst/examples/Ecotone_Results_Landscape/Figs/plot_successful_runs.jpg
inst/examples/Ecotone_Results_Landscape/Figs/plot_worst_class.jpg
inst/examples/Ecotone_Results_Landscape/Figs/plot_sd_accuracy.jpg
inst/examples/Ecotone_Results_Landscape/Results/NeuralNet_Test_Rep1-5_T200.RData
inst/examples/Ecotone_Results_Landscape/Results/NeuralNet_Test_Rep6-10_T200.RData
inst/examples/SelfOrga_Results_Class/Figs/plot_mean_accuracy_selforga.jpg
inst/examples/SelfOrga_Results_Class/Figs/plot_sd_accuracy_selforga.jpg
inst/examples/SelfOrga_Results_Class/Results/NeuralNet_SelfOrga_Test_Rep1_T150.RData
inst/examples/SelfOrga_Results_Class/Results/NeuralNet_SelfOrga_Test_Rep3_T150.RData
inst/examples/SelfOrga_Results_Class/Results/NeuralNet_SelfOrga_Test_Rep5_T150.RData
inst/examples/SelfOrga_Results_Class/Results/NeuralNet_SelfOrga_Test_Rep2_T150.RData
inst/examples/SelfOrga_Results_Class/Results/NeuralNet_SelfOrga_Test_Rep6_T150.RData
inst/examples/SelfOrga_Results_Class/Results/NeuralNet_SelfOrga_Test_Rep4_T150.RData
inst/extdata/landscape_class_metrics.csv

# Ignore result files from Cluster
inst/HPC/results_ecotones/*
inst/analyses/data/systematic_tests/*/*/*.rds
**/.quarto/

/.quarto/
